<html>
    <head>
        <title>FitYou</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    
    <body>
        <div id="app">
            <div class="navbar">
               <span class="nav-brand-name">FitYou</span>
            </div>

            <h1>Your new exercise: {{ newExercise }}</h1>
            <input class="exercise-input" v-model="newExercise">
            <button v-on:click="addExercise">Add Exercise</button>

            <h1>Your exercise list</h1>
            <div class="exercise-list">
                <ul>
                    <li v-for="exercise in exerciseList" v-bind:key="exercise.id">
                        <span class="exercise-list-element">
                            {{ exercise.id + 1 }}. {{ exercise.name }}
                            <button v-on:click="showExerciseEdit">Update</button>
                            <button v-on:click="deleteExercise(exercise.id)">Delete</button>
                            <input v-if="exerciseEditInput" v-model="exerciseEdited">
                            <button v-if="exerciseEditInput" v-on:click="updateExercise(exercise.id)">
                                Done
                            </button>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        
        <script src="main.js"></script>
    </body>
</html>