html, body {
   margin: 0;
}

ul {
   list-style-type: none;
 }

.navbar {
   display: flex;
   background-color: lightblue;
   height: 50px;
}

.nav-brand-name {
   margin-left: 50px;
   font-size: 30px;
}

.exercise-list-element {
   font-size: 25px;
}

